body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: sticky;
  top: 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

.join {
  border: #333 solid 2px;
  background: linear-gradient(to left, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #8B00FF);
  width: 20%;
  margin: 70px auto;
  border-radius: 50%;
  text-align: center;
}

.join p {
  padding: 20px;
  font-size: 30px;
}

.join a {
  background-color: #7ca7fc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.post {
  background: white;
  margin: 1em auto;
  padding: 0.8em;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
}
